<div id="DIV_1">
	<div id="DIV_2">
		<div id="DIV_3">
			<h2 id="H2_6">
				<strong id="STRONG_7">Thank you for registering with us!</strong>
			</h2>
			<ul id="UL_8">
				<li id="LI_9">
					A mail with the partner credentials is sent to your registered mail. Please use the same credentials to login into our application.
				</li>
			</ul>
			<p id="LI_1">Click <span style="text-decoration: underline; color: #0000ff;"><a routerLink="/login/vendor" routerLinkActive="active">here</a></span> to Login as a partner</p>
		</div>
	</div>
</div>